<header class="bg-gray-950 shadow-md transition-all">
  <nav class="max-w-screen grid grid-cols-2 lg:grid-cols-3 items-center justify-between mx-auto p-4" data-controller="navbar">
      <!-- Logo -->
      <div class="flex items-center"> 
        <%= link_to root_path, class: 'flex items-center' do %>
          <span class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white">
            <span class="text-blue-500 text-2xl font-semibold">LaGramola</span><span class="text-indigo-500 text-3xl font-extrabold">Disco</span> 
          </span>
        <% end %>
        <!-- Menu Toggle Button -->
        <div class="lg:hidden flex justify-end">
          <button class="h-6 w-6 ml-5 group focus:outline-none" data-action="navbar#toggleMainMenu">
            <div class="rounded-xl bg-black h-0.5 w-6 my-0.5 group-hover:relative group-hover:top-1 group-hover:rotate-45 duration-500"></div>
            <div class="rounded-xl bg-black h-0.5 w-6 my-0.5 group-hover:bg-transparent group-hover:duration-150"></div>
            <div class="rounded-xl bg-black h-0.5 w-6 my-0.5 group-hover:relative group-hover:bottom-1 group-hover:-rotate-45 duration-500"></div>
          </button>
        </div>
      </div>

      <!-- Main Menu -->
      <div id="navbar-multi-level" data-navbar-target="mainMenu" class="fixed lg:relative top-12 left-0 lg:left-0 md:top-14 lg:top-0 z-40 col-span-2 lg:col-span-1 hidden lg:block bg-transparent  w-full h-auto">
        <ul class="flex flex-col justify-center items-center font-medium p-4 md:p-0 mt-4 border border-gray-100 rounded-lg md:flex-row md:space-x-8 md:mt-0 md:border-0 md:bg-transparent">
          <!-- User options -->
          <% navbar_items.each do |item| %>
            <%= render UI::NavLink.new(path: item[:path], title: item[:title]) %>
          <% end %>
        </ul>
      </div>
      <div class="flex justify-end items-center gap-4 px-2 relative">
        <%= render UI::UserCard.new(
                  user: nil,
                  options: {
                    container: 'w-1/4 flex justify-end bg-indigo-700 rounded-xl gap-8 shadow-md shadow-slate-700',
                    button: 'w-full py-2 px-2 hover:cursor-pointer flex justify-center items-center gap-4',
                    avatar: 'w-12 h-12 p-5 flex justify-center items-center bg-corporation border-2 border-indigo-600 bg-slate-950 rounded-full shadow-lg text-white hover:text-red-500 hover:duration-500 duration-500 text-center font-semibold uppercase',
                    dropdown: {
                      style: 'w-full flex flex-col gap-6 hidden border-2 border-gray-950 text-slate-200 shadow-lg shadow-slate-500 shadow-t-none rounded-lg rounded-t-none p-4 bg-gray-950 opacity-0 transition-opacity duration-300 ease-in-out',
                      position: 'absolute -bottom-[9.4rem] -right-7 z-40'
                    }
                  }
                ) %>
      </div>
  </nav>
</header>
