<section class="container mx-auto py-28 flex flex-col lg:grid lg:grid-col-6 gap-8">
  <article class="w-full flex-1 lg:col-span-2 flex flex-col justify-start items-center">
    <header class="w-full flex justify-between items-center lg:grid lg:grid-cols-10 gap-4 py-4 md:text-xl font-semibold text-slate-100 bg-slate-950 border-b-4 border-b-blue-800 rounded-t-2xl px-8">
      <div class="col-span-3 px-3 text-sm xl:text-xl">Tareas de Backup</div>
      <div class="col-span-5 px-3 text-sm xl:text-xl">Tareas de Backup</div>
      <div class="col-span-2 flex justify-end items-center gap-5 py-2 px-4">Acciones</div>
    </header>

    <ul id="task_list" data-controller="tasks" class="w-full flex flex-col mb-4 [&>li:last-child]:border-b [&>li:last-child]:border-b-gray-950 [&>li:last-child]:rounded-b-xl shadow-lg shadow-gray-950 rounded-xl">
      <% @tasks.each do |task| %>
        <li class="border-b border-gray-700 hover:bg-gray-800 px-8">
          <div class="w-full flex justify-between items-center lg:grid lg:grid-cols-10 gap-4 py-4 md:text-xl ">
            <span data-tasks-target="name" class="col-span-3 text-slate-300 text-lg text-left px-4"><%= task[:name] %></span>
            <span class="col-span-5 text-slate-300 text-lg text-left px-4"><%= task[:description] %></span>
            <span class="col-span-2 flex justify-end px-4">
              
              <% if 1 == 0 %>
                <button data-action="click->tasks#executeTask" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Ejecutar</button>
              <% end %>
              <%= button_to 'Ejecutar', execute_task_admin_dashboard_index_path, class: 'bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded' %>
            </span>
          </div>
        </li>
      <% end %>
    </ul>
  </article>
</section>
