<%= turbo_frame_tag image do %>
  <div class="w-full mx-auto shadow-lg shadow-slate-950 rounded-xl overflow-hidden xl:hover:opacity-100">
    <figure class="w-full h-full overflow-hidden">
      <%= link_to rails_blob_url(image), 
                  data: { 
                    photoswipe_target: "link",
                    album_id: image.record_id,
                    blob_id: image.blob_id
                  }, class: "block w-full h-full" do %>
        <%= image_tag url_for(image), class: "w-full h-full object-cover" %>
      <% end %>
    </figure>
  </div>
<% end %>
