<section class="main-h-screen bg-gray-800 py-6 flex flex-col justify-center sm:py-12 px-20">
  <div class="relative py-3 lg:max-w-3xl sm:mx-auto">
    <div class="absolute inset-0 bg-gradient-to-r from-indigo-700 to-purple-500 shadow-lg transform -skew-y-6 sm:skew-y-0 sm:-rotate-6 sm:rounded-3xl">
    </div>
    <article class="text-white relative px-4 py-10 bg-indigo-400 shadow-lg sm:rounded-3xl sm:p-10">
      <header class="flex flex-col gap-8 text-center pb-6">
        <h1 class="text-3xl"><%= t('.title')%></h1>

        <p class="text-gray-300">
          <%= t('.description')%>
        </p>
      </header>
      <%= turbo_frame_tag :new_contact do %>
        <%= render "form", contact: Contact.new %>
      <% end %>
    </article>
  </div>
</section>