<%= active_link_to @path, class: 'nav-link w-full flex justify-center items-center py-2 text-center' do %>
  <span data-decrease-target="link" class="w-full text-lg"><%= @title %></span>
  <%= inline_svg_tag(@icon, class: 'w-8 h-8', data: { 'decrease-target': 'iconLeft' }) %>
<% end %>
