<%= form_with url: path,
              method: :post,
              autocomplete: 'disabled',
              class: 'w-full relative',
              data: {
                controller: 'debounce',
                'debounce-target': 'form',
                'searcher-target': 'input'
              }  do |form| %>
              
  <%#= form.hidden_field :kind, value: kind if kind.present? %>
  <div class="relative flex justify-end">
    <%= form.search_field attribute.to_sym,
                          value: regex,
                          placeholder: placeholder,
                          data: {
                            debounce_target: 'input',
                            action: 'input->debounce#search'
                          },
                          class: 'w-1/3 bg-slate-950 text-white shadow rounded-xl border-0 p-3 duration-500 transition-500 focus:w-full focus:duration-500 focus:transition-500 focus:shadow-outline focus:outline-none focus:ring-slate-900 active:text-white shadow-lg shadow-slate-950 rounded-xl border-slate-950 placeholder-gray-600 focus:placeholder-gray-200',
                          autocomplete: 'off' %>

    <div class="absolute top-3 right-2 group-focus-within:scale-150 group-focus-within:duration-500 duration-500" data-debounce-target="icon">
      <%= inline_svg_tag('icons/shared/search.svg', class: 'w-6 h-6 stroke-gray-600')%>
    </div>
  </div>
<% end %>
