<div class="container flex flex-col gap-8 my-12 mx-auto">
  <div class="w-full flex justify-start items-center gap-12">
    <div class="flex-1 flex justify-between items-center gap-8">
      <div id="prev_link">
        <!---TODO: TRADUCIR FLECHAS-->
        <%= button_to "prev", pagy_url_for(@pagy, @pagy.prev), class: 'border border-blue-600 rounded-lg hover:bg-blue-600 text-blue-600 hover:text-white px-4 py-2' if @pagy.prev.present? %>
      </div>
      <div id="next_link">
        <%= button_to "next", pagy_url_for(@pagy, @pagy.next), class: 'border border-blue-600 rounded-lg hover:bg-blue-600 text-blue-600 hover:text-white px-4 py-2' if @pagy.next.present?  %>
      </div>
    </div>
    <%= render(UI::StringSearcher.new(
      path: search_albums_path,
      attribute: :text,
      options: {
        placeholder: t('.search'),
        regex: params[:text]
      })
    )%>
  </div>
  
  <section id="albums" class="grid grid-cols-1 lg:grid-cols-2 xl:grid-cols-3 2xl:grid-cols-4 gap-8">
    <%= render UX::AlbumComponent.with_collection(@albums) %>
  </section>
</div>