<div class="container flex flex-col gap-8 my-12 mx-auto">
  <section id="albums" class="grid grid-cols-4 gap-8">
    <%= @albums.count %>
    <% @albums.each do |album| %>
          <figure class="aspect-w-4 aspect-h-3">
      <%= image_tag url_for(album.images.first), 
                    data: { src: "#{rails_blob_url(album.images.first)}"}, 
                    class: "object-cover" if album.images.attached? %>
    </figure>
    <% end %>
  </section>
</div>