<% content_for :head do %>
  <link rel="stylesheet" href="https://unpkg.com/photoswipe/dist/photoswipe.css">
<% end %>

<% if @album.password.eql?(session[:album_password]) %>
  <%= render 'frontend/albums/images/album', collection: @images %>
<% else %>
  <section class="container mx-auto grid grid-cols-1 lg:grid-cols-2 xl:grid-cols-3 2xl:grid-cols-4 gap-8 my-auto">
    <% 12.times do %>
      <%= render UI::Skeleton::Image.new %>
    <% end %>
  </section>
  <%= render 'frontend/albums/images/verify_password' %>
<% end %>
