/* notification component css */
.toast-fade-in {
  animation: toast-fade-in 1s forwards;
}

.toast-fade-out {
  animation: toast-fade-out 1s forwards;
}

@keyframes toast-fade-in {
  0% { 
    opacity: 0;
    transform: translateX(-100%); /* la notificación comienza fuera de la pantalla a la izquierda */
  }
  100% { 
    opacity: 1;
    transform: translateX(0); /* la notificación termina en su posición original */
  }
}

@keyframes toast-fade-out {
  0% { 
    opacity: 1;
    transform: translateX(0); /* comienza en su posición original */
  }
  100% { 
    opacity: 0;
    transform: translateX(-100%); /* termina fuera de la pantalla a la izquierda */
  }
}

/* Application styles */
@keyframes customPulse {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.dotLoader {
  animation: customPulse 1s linear;
}


.main-h-screen {
  min-height: calc(100vh - 104px - 88px);
}

/* Album gallery */
.pswp__zoom-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.pswp__img {
  object-fit: contain;
}